html, .Button {
  font-family: system-ui, sans-serif;
  font-style: normal;
  font-weight: normal; }

.lead {
  font-family: system-ui, sans-serif;
  font-style: normal;
  font-weight: lighter; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, strong, b {
  font-family: system-ui, sans-serif;
  font-style: normal;
  font-weight: bold; }

::-moz-selection {
  background: #9F4585; }

::selection {
  background: #9F4585; }

::-moz-selection {
  background: #9F4585; }

html {
  font-size: 1rem;
  line-height: 1.5;
  color: #4a4a4a;
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, .h1 {
  font-size: 1.5rem;
  line-height: 1.16667;
  margin-top: 1.125rem;
  margin-bottom: 0.75rem; }

h2, .h2 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

h3, .h3 {
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

h4, .h4 {
  font-size: 0.875rem;
  line-height: 1.42857;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.lead {
  font-size: 2rem;
  line-height: 1.125; }

.fineprint {
  font-size: 0.75rem;
  line-height: 1.33333; }

small {
  font-size: 0.875rem; }

em, i {
  font-style: italic; }

ul {
  list-style-type: disc; }

ol {
  list-style: decimal; }

sub,
sup {
  font-size: 0.875rem;
  line-height: 0; }

hr {
  border: none;
  margin: 0;
  background-color: #ececec;
  height: 1px; }

[href="tel"] {
  white-space: nowrap; }

.Button--primary:focus {
  color: #fff;
  background-color: #0C9DBC; }

.Button--primary:hover {
  color: #fff;
  background-color: #87e4f7; }

.Button--primary:active {
  color: #fff;
  background-color: #086478; }

.Button--primary.is-loading {
  cursor: not-allowed;
  color: #fff;
  background-color: #086478; }

.Button--primary, .Button--primary:disabled, .Button--primary.is-disabled {
  color: #fff;
  background-color: #0C9DBC; }

.Button--secondary:focus {
  color: #00a8cc;
  background-color: #fff; }

.Button--secondary:hover {
  color: #fff;
  background-color: #00a8cc; }

.Button--secondary:active {
  color: #fff;
  background-color: #006980; }

.Button--secondary.is-loading {
  cursor: not-allowed;
  color: #fff;
  background-color: #006980; }

.Button--secondary, .Button--secondary:disabled, .Button--secondary.is-disabled {
  color: #00a8cc;
  background-color: #fff; }

.Button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  cursor: pointer;
  height: 40px;
  margin: 0;
  padding: 0 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: normal;
  border: none;
  border-radius: 8px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  min-width: 200px; }
  .Button:active, .Button.is-loading {
    outline: none; }
  .Button.is-loading {
    pointer-events: none; }
  .Button:disabled, .Button.is-disabled {
    opacity: 0.5; }

.Button--block {
  width: 100%; }

.Button:hover, .Button:focus, .Button:active {
  text-decoration: none;
  outline: none; }

.Media,
.Media-body {
  overflow: hidden; }

.Media-object img,
.Media-object svg {
  display: block; }

.Media-object {
  float: left; }

.page.page-one-column .entry-header {
  margin-bottom: 1em; }

.page.page-one-column .entry-title {
  font-size: 2em !important;
  position: relative;
  padding-bottom: 16px;
  color: #0C9DBC !important; }
  .page.page-one-column .entry-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #4a4a4a;
    bottom: 0;
    left: 0; }
  @media screen and (min-width: 782px) {
    .page.page-one-column .entry-title {
      font-size: 3em !important; } }

.page.page-one-column .entry-content p {
  font-size: 1.25rem;
  line-height: 1.85rem;
  margin-bottom: .25rem; }

.page.page-one-column .entry-content a {
  color: #0C9DBC; }

.page.page-one-column .entry-content .wp-block-table {
  margin-top: 2rem; }
  .page.page-one-column .entry-content .wp-block-table tr:first-child td, .page.page-one-column .entry-content .wp-block-table tr:first-child th {
    background-color: #333;
    color: #fff;
    text-align: center; }
  .page.page-one-column .entry-content .wp-block-table tr:nth-child(even):not(:first-child) td {
    background-color: #ddd; }

.page.page-one-column .entry-content h2, .page.page-one-column .entry-content .sponsorType-description h3, .page.page-one-column .entry-content .comSponsors h4 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #0C9DBC;
  position: relative;
  display: inline-block;
  padding-bottom: 8px; }
  .page.page-one-column .entry-content h2::before, .page.page-one-column .entry-content .sponsorType-description h3::before, .page.page-one-column .entry-content .comSponsors h4::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4a4a4a;
    bottom: 0;
    left: 0; }

.page.page-one-column .entry-content .sponsorType-description h3 {
  font-size: 1.25rem; }

.page.page-one-column .entry-content .comSponsors h4 {
  font-size: 1.15rem; }

.page.page-one-column .sponsorType {
  margin-bottom: 2rem; }
  .page.page-one-column .sponsorType .small {
    font-size: 16px;
    line-height: 1.5; }
  @media screen and (min-width: 782px) {
    .page.page-one-column .sponsorType {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .page.page-one-column .sponsorType > h3 {
        width: 30%;
        -ms-flex-item-align: center;
            align-self: center; }
      .page.page-one-column .sponsorType .sponsorType-description {
        margin-left: auto;
        width: 60%; } }

.page.page-one-column .sponsorKnockout {
  background: #0C9DBC;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1.5rem; }

.page.page-one-column .comSponsors > ul {
  margin-top: 1rem;
  list-style: none; }
  .page.page-one-column .comSponsors > ul > li {
    margin-bottom: 1rem; }

.page.page-one-column .sponsorButton,
.page.page-one-column input[type=submit],
.page.page-one-column input[type="submit"],
.page.page-one-column .pushbutton-wide {
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  font-size: 14px; }
  .page.page-one-column .sponsorButton, .page.page-one-column .sponsorButton:hover, .page.page-one-column .sponsorButton:focus, .page.page-one-column .sponsorButton:visited,
  .page.page-one-column input[type=submit],
  .page.page-one-column input[type=submit]:hover,
  .page.page-one-column input[type=submit]:focus,
  .page.page-one-column input[type=submit]:visited,
  .page.page-one-column input[type="submit"],
  .page.page-one-column input[type="submit"]:hover,
  .page.page-one-column input[type="submit"]:focus,
  .page.page-one-column input[type="submit"]:visited,
  .page.page-one-column .pushbutton-wide,
  .page.page-one-column .pushbutton-wide:hover,
  .page.page-one-column .pushbutton-wide:focus,
  .page.page-one-column .pushbutton-wide:visited {
    background-color: #ffa004;
    color: #fff !important;
    text-transform: uppercase;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .page.page-one-column .sponsorButton:hover,
  .page.page-one-column input[type=submit]:hover,
  .page.page-one-column input[type="submit"]:hover,
  .page.page-one-column .pushbutton-wide:hover {
    background-color: #ea9100 !important; }

.page.page-one-column .wcorg-organizer {
  clear: both;
  margin-bottom: 1rem; }

.page.page-one-column .wcorg-organizer-description p {
  font-size: 14px;
  line-height: 1.25rem; }

.page.page-one-column .wcorg-organizer-description img,
.page.page-one-column .wcorg-speaker-description img {
  width: 100px;
  border-radius: 100%;
  margin: .5rem auto;
  display: block;
  pointer-events: none;
  float: none; }
  @media screen and (min-width: 782px) {
    .page.page-one-column .wcorg-organizer-description img,
    .page.page-one-column .wcorg-speaker-description img {
      margin: .5rem;
      float: right; } }

.page.page-one-column .wcorg-organizer-description p,
.page.page-one-column .wcorg-speaker-description p {
  font-size: 16px !important;
  line-height: 1.5 !important; }

.page.page-one-column .wcorg-organizer,
.page.page-one-column .wcorg-speaker {
  padding: 1rem;
  margin: 3rem 0; }
  .page.page-one-column .wcorg-organizer h2,
  .page.page-one-column .wcorg-speaker h2 {
    margin: 0;
    text-align: center;
    width: 100%;
    text-shadow:  1px 1px rgba(230, 230, 230, 0.5) , 2px 2px rgba(236, 236, 236, 0.55) , 3px 3px rgba(240, 240, 240, 0.6) , 4px 4px rgba(244, 244, 244, 0.65) , 5px 5px rgba(247, 247, 247, 0.7) , 6px 6px rgba(249, 249, 249, 0.75) , 7px 7px rgba(250, 250, 250, 0.8) , 8px 8px rgba(252, 252, 252, 0.85) , 9px 9px rgba(253, 253, 253, 0.9) , 10px 10px rgba(254, 254, 254, 0.95); }
    .page.page-one-column .wcorg-organizer h2:before,
    .page.page-one-column .wcorg-speaker h2:before {
      display: none; }
    @media screen and (min-width: 782px) {
      .page.page-one-column .wcorg-organizer h2,
      .page.page-one-column .wcorg-speaker h2 {
        text-align: left; } }
  .page.page-one-column .wcorg-organizer:nth-child(odd),
  .page.page-one-column .wcorg-speaker:nth-child(odd) {
    background-color: #0C9DBC;
    border-radius: 2px;
    border: 1px solid #0c9ebd;
    -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.15);
    margin: 0 -1rem; }
    .page.page-one-column .wcorg-organizer:nth-child(odd) h2, .page.page-one-column .wcorg-organizer:nth-child(odd) p, .page.page-one-column .wcorg-organizer:nth-child(odd) a, .page.page-one-column .wcorg-organizer:nth-child(odd) a:hover, .page.page-one-column .wcorg-organizer:nth-child(odd) a:visited, .page.page-one-column .wcorg-organizer:nth-child(odd) a:focus,
    .page.page-one-column .wcorg-speaker:nth-child(odd) h2,
    .page.page-one-column .wcorg-speaker:nth-child(odd) p,
    .page.page-one-column .wcorg-speaker:nth-child(odd) a,
    .page.page-one-column .wcorg-speaker:nth-child(odd) a:hover,
    .page.page-one-column .wcorg-speaker:nth-child(odd) a:visited,
    .page.page-one-column .wcorg-speaker:nth-child(odd) a:focus {
      color: #fff; }
    .page.page-one-column .wcorg-organizer:nth-child(odd) h2,
    .page.page-one-column .wcorg-speaker:nth-child(odd) h2 {
      text-shadow:  1px 1px rgba(9, 117, 140, 0.5) , 2px 2px rgba(10, 127, 152, 0.55) , 3px 3px rgba(10, 134, 161, 0.6) , 4px 4px rgba(11, 139, 167, 0.65) , 5px 5px rgba(11, 144, 172, 0.7) , 6px 6px rgba(11, 147, 176, 0.75) , 7px 7px rgba(11, 150, 179, 0.8) , 8px 8px rgba(12, 152, 182, 0.85) , 9px 9px rgba(12, 154, 184, 0.9) , 10px 10px rgba(12, 156, 186, 0.95); }

.page.page-one-column #tix-attendees .tix-attendee-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 782px) {
    .page.page-one-column #tix-attendees .tix-attendee-list li {
      width: 100%; } }

.page.page-one-column #tix-attendees .tix-attendee-list .avatar {
  float: none; }

.page.page-one-column #tix-attendees .tix-attendee-list .tix-attendee-name {
  margin: 0;
  font-size: 18px;
  padding-left: .5rem;
  font-weight: bold;
  letter-spacing: .05rem;
  color: #0C9DBC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-navigation ul,
.navigation-top {
  background-color: #0eb1d4 !important; }

#site-navigation #top-menu > li > a {
  border-bottom: none !important; }

.main-navigation li {
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out; }

.main-navigation li:hover,
.main-navigation li.focus {
  background-color: #0a89a4 !important; }

@media screen and (min-width: 67em) {
  .navigation-top .wrap {
    padding-top: 0; } }

.genericon {
  text-decoration: none !important; }

.site-footer {
  background: #373734;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(rgba(21, 34, 43, 0)), to(#1d1d1b));
  background-image: linear-gradient(to bottom, transparent, rgba(21, 34, 43, 0), #1d1d1b); }
  .site-footer,
  .site-footer h2.widget-title,
  .site-footer a,
  .site-footer a:visited,
  .site-footer a:hover,
  .site-footer a:focus {
    color: #fff !important; }

.site-info {
  display: none; }

.footnote .emoji {
  fill: red;
  position: relative;
  margin: 0 3px;
  top: 0;
  width: 10px;
  -webkit-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.site-footer wrap,
.site-footer .widget-area {
  padding-bottom: 0; }

.site-footer .widget_custom_html {
  padding-bottom: 0; }

.footnote {
  margin-top: 3rem; }
  .footnote p {
    font-style: italic;
    text-align: right;
    font-size: .8rem; }
